.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 120px auto;
}

.form-control {
  margin: 15px 0;
  width: 100%
}
h1 {
  color: red;
}

input, select {
  display: block;
  width: 100%;
  margin-top: 10px
}

#emailExistsAlert.emailexists {
  display: none
}